@model Sitecore.Mvc.Presentation.RenderingModel
<div class="txtHead">
    <i class="fa fa-@Model.Item.Fields["Icon"]"></i>
    <h3>@Html.Sitecore().Field("Name", Model.Item)</h3>
</div>
<p>@Html.Sitecore().Field("Description", Model.Item)</p>