@model Sitecore.Mvc.Presentation.RenderingModel
@using Sitecore.Data.Fields
<footer>
    <div class="container">
        <div class="disclaimer text-center">
            This is a disclaimer
        </div>
        <div class="social text-center">
            <a href="//facebook.com/cypherkaz" target="_blank"><i class="fa fa-facebook">&nbsp;</i></a>
            <a href="//twitter.com/cypherkaz" target="_blank"><i class="fa fa-twitter">&nbsp;</i></a>
            <a href="//github.com/johnatan-garcia" target="_blank"><i class="fa fa-github">&nbsp;</i></a>
        </div>
        <div class="clear"></div>
    </div>
</footer>